/*-- Imported Fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Condensed:wght@300&display=swap');
/*----- Fonts -----*/

body{
    margin: 30px 120px;
    font-family: 'Poppins', sans-serif; 
}

/*----- navbar starts -----*/
nav {
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
    margin-left: 30px;
}
nav ul li a {
    text-decoration: none;
    color: #3A3A3A;
}
.leftnav{
    font-weight: bold;
    font-size: 24px;
}
.rightnav{
    font-size: 16px;
    font-weight: 600;
    margin-left: 300px;

}
/*----- navbar finish -----*/

/*----- offer section -----*/
.details{
    display: flex;
    margin-top: 120px;
    margin-bottom: 80px;
}
.blog{
    text-align: justify;
    height: 270px;
    width: 582px;
}
.blog h1{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}

.blog p{
    color: #3A3A3A;
    margin-bottom: 40px;
}
.blog a{
    text-decoration: none;
    color: white;
    background-color: #0073e6;
    padding: 10px 10px;
    border-radius: 25px;
}
.blog i{
    margin-left: 5px;
}
.blog a:hover{
    background-color: #005fbe;
    color: white;
}
.camera{
    padding-left: 80px;
}
.camera>img:hover{
    transition: 1s;
    transform: scale(1.1,1.1);
}

/*----- offer sec end -----*/

/*------ brand section start ------*/
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.brands > .logos{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
/*------ brand section finish -----*/

/*--------------- product kits start ---------------*/

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-column-gap: 20px;
}
.sec-title{
    justify-content: center;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;

}
.product{
    background-color:  white;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 329px;
    height: 480px;
    box-shadow: #d9d9d9 0px 0px 40px;
}
.interior{
    margin-top: 17px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
}
.product .kitspics img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.kits-title{
    font-size: 28px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 0;
}
.kits-price{
    margin-top: 6px;
}
.fa-star{
    font-size: 17px;
}
.fa-star.filled{
    color: #FFC014;

}
.fa-star-half-alt.empty{
    color: #FFC014;
}
.bottom{
    margin-top: 5px;
}
span, .bottom{
    color: #787885;
    font-weight: bold;
    font-size: 14px;
}
/*------------ downbutton ------------*/
.downbutton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    margin-top: 5px;
    padding: 15px;
}
.downbutton a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.8s ease-in-out;
    border: 1px solid #0073e6; 
}
.downbutton i {
    margin-left: 5px;
}
.downbutton a:hover {
    color:azure;
    background-color: #0073e6;
}
/* -------------downbutton ---------------*/

/*----------------- product kits ends ----------------*/

/*------------- preorder section start-----------*/
.preorder{
    display: flex;
    max-width: 100%;
}
.item{
    width: 40%;
}
.information{
    padding-left: 20px;
    width: 60%;
    color: white;
    background-color: #446fce;
    border-radius: 10px;
}
.item img{
    height: 400px;
    width: 420px;
    border-radius: 10px;
}
#top{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
/*------------- preorder section ended-----------*/

/*-- footer --*/
footer{
    background-color: #0073e6;
    width: 100%;
    height: 239px;

}
.footer-title{
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
}
.copyright{
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    color: #D9DBE1;
    
}
.footer-icon{
    text-align: center;
}
.fa{
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    padding: 20px;
    font-size: 30px;
    width: 50px;
}

.fa-google {
    color: white;
}

.fa-youtube {
  color: white;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

/*-- footer --*/

/*-------------------------------
   mediaquey for mobile devices 
-------------------------------*/
@media only screen and (max-width:668px){

    body{
        margin: 5px;
        padding: 5px;
        width: 600px;
    }
    .details{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 150px;
    }

    nav > .leftnav{
        padding-left: 90px;
        width: 100%;
    }
    nav > .rightnav{
        display: none;
    }
  
    .brands{
        display: none;
    }
    
    .items > .sec-title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 130px;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 30%;
    }
   
    .preorder{
        display: none;
    }
    footer{
        width: 590px;
        justify-content: stretch;
    }
}
/*-------------------------------
   mediaquey for mobile devices 
-------------------------------*/


/*-------------------------------
   mediaquey for Tablet devices 
-------------------------------*/

@media only screen and (min-width:689px) and (max-width:992px){
    body{
        margin: 5px;
        padding: 5px;
        width: 600px;
    }
    .details{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 150px;
        margin-left: 50px;
    }

    nav > .leftnav{
        padding-left: 90px;
        width: 100%;
    }
    nav > .rightnav{
        display: none;
    }
  
    .brands{
        display: none;
    }
    
    .items > .sec-title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 130px;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 50px;
    }
   
    .preorder{
        display: none;
    }
    footer{
        width: 800px;
        justify-content: stretch;
    }

}
/*-------------------------------
   mediaquey for Tablet devices 
-------------------------------*/